In [1]:
%run create_tables.py

Drop table if exists staging_events_table
Drop table if exists staging_songs_table
Drop table if exists songplays
drop table if exists users cascade
drop table if exists songs cascade
drop table if exists artists cascade
drop table if exists time

    create table if not exists staging_events_table
    (artist varchar(256),
    auth varchar(256),
    firstName varchar(256),
    gender varchar(10),
    itemInSession int,
    lastName varchar(256),
    length numeric(30, 3),
    level varchar(64),
    location varchar(100),
    method varchar(10),
    page varchar(32),
    registration decimal(30, 3),
    sessionId bigint,
    song varchar(256),
    status int,
    ts bigint sortkey,
    userAgent varchar(256),
    userId bigint) diststyle auto

create table if not exists staging_songs_table
    (num_songs int,
    artist_id varchar(256),
    artist_latitude double precision,
    artist_longitude double precision,
    artist_location varchar(256),
    artist_name varchar(256),
    song_id varchar(256),
    title varchar(256),
    duration numeric (30, 10),
    year int) diststyle ALL

create table if not exists users
    (user_id bigint NOT NULL PRIMARY KEY distkey,
    first_name varchar(256),
    last_name varchar(256) sortkey,
    gender varchar(8),
    level varchar(64)) diststyle KEY
create table if not exists artists
    (artist_id varchar(256) NOT NULL PRIMARY KEY,
    name varchar(256),
    location varchar(256) sortkey,
    latitude double precision,
    longitude double precision)
    diststyle ALL
create table if not exists songs
    (song_id varchar(256) NOT NULL PRIMARY KEY distkey,
    title varchar(256), artist_id varchar(256) NOT NULL,
    year int sortkey,
    duration numeric(30, 10),
    foreign key(artist_id) references artists(artist_id))
    diststyle KEY
create table if not exists time
    (start_time bigint PRIMARY KEY NOT NULL distkey sortkey,
    hour int,
    day int,
    week int,
    month int,
    year int,
    weekday int) diststyle KEY
create table if not exists songplays
    (songplay_id int IDENTITY(0,1) PRIMARY KEY distkey,
    start_time bigint NOT NULL sortkey,
    user_id bigint NOT NULL ,
    level VARCHAR(64),
    song_id varchar(256) NOT NULL,
    artist_id varchar(256) NOT NULL,
    session_id VARCHAR(256),
    location VARCHAR(256),
    user_agent VARCHAR(256),
    foreign key(user_id)  references users(user_id),
    foreign key (song_id) references songs(song_id),
    foreign key(artist_id) references artists(artist_id)) diststyle KEY

In [2]:
%run etl.py

insert into songs
    (song_id, title, artist_id, duration, year)
    (select  distinct song_id, title, artist_id, duration, year from staging_songs_table);
insert into artists (artist_id, name, location, latitude, longitude) (select  distinct artist_id, artist_name, artist_location, artist_latitude, artist_longitude from staging_songs_table);
insert
    into
        songplays
        (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
            (select
                a1.ts,
                a1.userId,
                a1.level,
                a2.song_id,
                a2.artist_id,
                a1.sessionId,
                a1.location,
                a1.useragent
            from
                staging_events_table a1
            join
                staging_songs_table a2
                    on a1.artist = a2.artist_name
                    and a2.title = a1.song
                    and a2.duration = a1.length
                    and a1.page='NextSong'
            );
All done. All done